@font-face {
  font-family: 'Lexend';
  src: url('./components/fonts/LexendDeca-VariableFont_wght.ttf');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lexend' !important;
  background-color: rgb(249, 252, 255);

}
.hero-info { 
  margin-top: 13vh;
  margin-bottom: 0vh;
}
/*hide the image*/
@media (max-width: 992px) {
  .hero-bg {
    height: 0px !important;
}
  .hero-info {
    margin-top: 20%;  }
}
.hero-container {
  height: 100vh;
}
.booking-container {
  background-color: white;
  box-shadow: 4px 4px 15px rgb(221, 221, 221);
  margin-bottom: 10vh;
}
.book-btn {
  margin-top: 40px
}

h1 {
  font-family: 'Lexend';
  overflow-x: visible;
  font-weight: 600 !important;
}
.hero-img {
  margin-top: 22vh;
}